.ListaRestaurantes {
  margin-top: 1rem;
  padding: 2rem;
}
.Buscar {
  margin-top: 1rem;
  padding: 1rem;
  justify-content: center;
}
.Form {
  display: flex;
  justify-content: center;
  align-items: center;
}
